h1
  a.course(data-id='#{course._id}') #{course.name}
h2 Add Students to a Course

form
  each student in students
    input(type='checkbox', name='#{student.email}', value='#{student._id}')
    label #{student.email}

script(src='/js/es6/compiled/courses-addStudents.js')
