h1#course(data-id='#{course._id}')= course.name

if user.isTeacher
  button#addVideo.button.button-action Add Video
  button.button.button-action#addTest(data-id='#{course._id}') Add Test
  button.button.button-action#addStudents(data-id='#{course._id}') Add Students

if course.videos.length
  h3 Videos
  each video in course.videos
    h4 Title: #{video.title}
    h4 Link: #{video.link}
    button.button.button-small.button-caution.remove-video(data-title='#{video.title}') Remove Video

if tests.length
  h3 Tests
  each test in tests
    a.test-link(data-id='#{test._id}')
      h4 #{test.title}

script(src='/js/es6/compiled/courses-show.js')
