a.course(data-id='#{course._id}')
  h1= course.name
h2= test.title

form#test
  each question in questions
    .panel.panel-primary
      .panel-heading= question.text
      each answer in question.answers
        .panel-body= answer.text
          input.pull-right(type='checkbox', name='answers', value='#{question._id}-#{answer.text}')
button.button.button-action.submit-test(data-id='#{test._id}') Submit Test

script(src='/js/es6/compiled/tests-show.js')
